* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.card {
  max-width: 50rem;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card--name {
  text-align: center;
  font-size: 2.4rem;
  background-color: #34db50;
  color: #fff;
  padding: 1rem;
  opacity: 0; /* Initial opacity set to 0 for the fade-in effect */
  animation: fadeIn 1s ease-in-out forwards; /* Animation definition */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  padding: 2rem;
}

.goat-image {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

article {
  font-size: 1.6rem;
  line-height: 1.6;
}

.goat-nature {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
}

.goat-specification {
  font-weight: bold;
}

p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 60rem) {
  .card {
    border-radius: 1rem;
    overflow: hidden;
    max-width: 30rem;
    margin: 1rem auto;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }

  main {
    padding: 10px;
  }

  .goat-image {
    width: 50%;
    height: auto;
    margin: 10px 0;
  }

  article {
    font-size: 1.4rem;
  }
}
